.profile-button {
    cursor: pointer;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    overflow: hidden;
    outline:none;
}

.navbar-profile {
    margin-left: auto; 
    margin-right: 0;
}
